* {
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

main {
  width: 100%;
  max-width: 575px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .videoBox {
  position: relative;
  height: max-content;
}

main .videoBox video {
  width: 100%;
  height: max-content;
}

main .videoBox .timeline {
  height: 2px;
  width: 100%;
}

main .videoBox .timeline .timerun {
  height: 100%;
  background-color: white;
}

main .videoBox .playicon {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.5);
}

main .videoBox .playicon svg {
  height: 100px;
  width: 100px;
  margin: auto;
  cursor: pointer;
}

main .videoBox .opacity {
  opacity: 0;
}

main .videoBox .closebutton {
  position: absolute;
  top: -50px;
  right: 0;
  opacity: 0.75;
  cursor: pointer;
}

main .videoBox .closebutton:hover {
  opacity: 1;
}

main .modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

main .modal .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

main .modal .button p {
  width: max-content;
  margin: auto;
  padding: 5px 10px;
  font-size: 1.5rem;
  color: black;
  background-color: white;
  box-shadow: 0px 5px 20px -10px;
  border: 1px solid #aaa;
  font-weight: 700;
  border-radius: 5px;
  animation: finishbutton 2s infinite;
}

@keyframes finishbutton {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

main .modal h3 {
  color: black;
  text-align: center;
  font-size: 2.5rem;
}

main .modal .items {
  height: max-content;
  display: flex;
  flex-wrap: wrap;
}

main .modal .items .item {
  width: 40%;
  aspect-ratio: 1;
  margin: 10px auto;
  border-radius: 50%;
  border: 2px dashed;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0.25;
}

main .modal .items .item p {
  font-weight: 500;
  font-size: 0.9rem;
  opacity: 0.75;
}

main .modal .items .item h4 {
  font-size: 1.25rem;
}

main .modal .items .selected {
  opacity: 1;
  border: 5px solid darkcyan;
}
